$latte-background: #eff1f5;
$latte-text: #4c4f69;
$latte-border: #1e66f5;

:root {
  --font-family: monospace;
  --font-size: 16px;
  --line-height: 1.4;
  --margin: 0;
  --min-height: 100%;
  --overflow-wrap: break-word;

  /* Latte (light mode) colors */
  --background-color-light: #eff1f5;
  --text-color-light: #4c4f69;
  --link-color-light: #1e66f5;

  /* Mocha (dark mode) colors */
  --background-color-dark: #eff1f5;
  --text-color-dark: #4c4f69;
  --link-color-dark: #1e66f5;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  margin: var(--margin);
  min-height: var(--min-height);
  overflow-wrap: var(--overflow-wrap);
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}

a {
  color: var(--link-color-light);
}

*:target {
  background: var(--target-background-light);
}

.post-meta { text-align: right; }

h2, h3, h4, h5, h6 { margin-top: 3rem; }

hr { margin: 2rem 0; }

p { margin: 1rem 0; }

li { margin: 0.4rem 0; list-style: none;}

.w {
  max-width: 640px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

hr {
  text-align: center;
}

body[theme="dark"] {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

body[theme="dark"] a {
  color: var(--link-color-dark);
}

body[theme="dark"] *:target {
  background: var(--target-background-dark);
}

@media (prefers-color-scheme: dark) {
  body[theme="auto"] {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
  }

  body[theme="auto"] a {
    color: var(--link-color-dark);
  }

  body[theme="auto"] *:target {
    background: var(--target-background-dark);
  }
}

nav, .taxonomies { text-align: center; }